[Desktop Entry]
Type=Application
Name=Pigoune
Comment=Organize, find and reuse your icons, logos and illustrations
Exec=pigoune
Icon=io.github.gor3pig.Pigoune
Terminal=false
StartupNotify=true
Categories=Graphics;2DGraphics;
Keywords=icons;logos;svg;assets;library;graphics;
