[Desktop Entry]
Type=Application
Name=Pigoune (Devel)
Name[fr]=Pigoune (Développement)
GenericName=Graphical Asset Library
GenericName[fr]=Bibliothèque de ressources graphiques
Comment=A native GNOME graphical asset library in development
Comment[fr]=Une bibliothèque GNOME native de ressources graphiques en développement
Exec=pigoune
Icon=io.github.Gor3pig.Pigoune.Devel
Terminal=false
Categories=Graphics;
